[submodule "components/component-a"]
	path = components/component-a
	url = https://github.com/linnkern/component-a.git
[submodule "components/component-b"]
	path = components/component-b
	url = https://github.com/linnkern/component-b.git
